
  @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Open+Sans:wght@400;700&family=Roboto+Mono:ital,wght@0,400;1,200;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family:  'Cutive Mono', monospace;

}
.outerbox{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top right,#1a2d2b,#ffffff);
}
.innerbox{
    position: relative;
   /* to move the box from anywhere to anywhere */
   top: 20%;
    width: 400px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #ffffff22;
    /* background:linear-gradient(to top right,#ffffff00,#ffffffff) ; */
    backdrop-filter:blur(10px);
    border-radius: 3px;
    box-shadow: 2px 2px 5px ;
    z-index: 1;
}
.signupheader h1{
    font-size: 2.3rem;
    color: #212121;
}
.signupheader p{
    font-size: 1rem;
    color: #555;
}
.signupbody{
    margin: 20px 0;

}
.signupbody p{
    margin: 10px 0; 
}
.signupbody p label{
    display: block;
    
}
.signupbody p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ffffffdd;
    border-radius: 0px 10px ;
    font-size: 0.8rem;
    font-weight: 200;
    margin-top: 3px;
}
.signupbody p input[type="submit"]{
    background-color:#799895;
    border: none;
    color: white;
    cursor: pointer;
}
.signupbody p input[type="submit"]:hover{
    
    background-color:rgb(83, 132, 127);
    transition: 0.5s;  

}
.signupfooter p{
    color: #ffffff;
    text-align: center;
}
.signupfooter p a{
    color: #ffffff;
}
.signupfooter p a:hover{
    color:rgb(19, 31, 30);
    transition: 0.5s;
}
.circle{
    position: absolute;
}
.c1{
    width: 250vw;
    height: 250vh;
    border-radius: 125vh;
    top: -187%;
    left: -199%;
    background: linear-gradient(to bottom right ,#ffffff,#ff2974);
    
}
.c2{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right,#1a2d2b,#ffffff);
    right: -5%;
    bottom: -15%;
}





